@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
:root {
    --main-color: #1D1F22;
    --main-font: 'Raleway', sans-serif;
    --accent-color: #5ECE7B;
}