@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');
:root {
    --main-color: #1D1F22;
    --main-font: 'Raleway', sans-serif;
    --accent-color: #5ECE7B;
}

h2 {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 42px;
    font-weight: 300;
    margin-left: 110px;
    margin-top: 80px;
}