.header__currency-converter {
    box-shadow: 0px 0px 2px 2px #D3D3D3;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    width: 114px;
    height: 169px;
    margin-top: 210px;
    margin-left: 110px;
    visibility: hidden;
}

.currency {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 17px;
    margin-right: 30px;
}

.currency-converter__USD {
    margin-top: 10px;
}

.currency-converter__JPY {
    margin-bottom: 10px;
}

.header__currency-converter.active {
    visibility: visible;
}